@use "variables" as v;
@use "blocks/wordpress-blocks";

:root {
  --background: #{v.$color-bg-light};
  --foreground: #{v.$color-fg-light};
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

p {
  color: #000000;
  font-weight: 500;
}
