@use "variables" as v;
@use "blocks/wordpress-blocks";

:root {
  --background: #{v.$color-bg-light};
  --foreground: #{v.$color-fg-light};
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

p {
  font-weight: 500;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  color: #3764E5;
}

h2 {
  font-family: var(--font-bebas-neue), Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 3.375rem;
  color: #212529;
  padding-bottom: 1.25rem;
  position: relative;
  z-index: 0;
}

h2::before {
  content: "";
  display: block;
  background-color: #EFD941;
  width: 100%;
  height: 30px;
  left: -9px;
  top: 53px;
  position: relative;
  z-index: -1;
}
